:root {
    --color-white: #fbf8f8;
    --color-lightergrey: #f0efef;
    --color-lightgrey: #d8d7d7;
    --color-darkgrey: #6d6c6c;
    --color-black: #2b2b2b;
    --color-blue: #4682b4;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--color-white);
    font-family: 'Open Sans', sans-serif;
}

#container {
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-areas: "nav head"
                         "nav  main"
                         "nav  foot";
    grid-template-rows: 50px 1fr 30px;
    grid-template-columns: 200px 1fr;
  }
  
  #container > header {
    grid-area: head;
    background-color: var(--color-blue);
    height: 100px;
    color: var(--color-black);
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 40px;
    text-align: center;
    padding-top: 15px;
  }
  
  #container > nav {
    height: 100vh;
    grid-area: nav;
    background-color: var(--color-lightgrey);
    border-right: solid;
    border-color: var(--color-darkgrey);
    position: fixed;
  }
  nav > header {
      font-weight: 400;
      font-size: 25px;
      color: var(--color-black);
      text-align: center;
      padding-top: 20px;
      
  }

  a {
      text-decoration: none;
  }

  nav > ul {
      padding: 20px 10px;
      list-style: none;
  }
  
  .nav-link {
      cursor: pointer;
      line-height: 40px;
      color: var(--color-blue);
      padding: 10px;
      display: block;
  }

  .nav-link:hover {
      color: var(--color-white);
      background-color: var(--color-blue);
  }

  #container > main {
    grid-area: main;
    background-color: var(--color-white);
    margin: 50px 20px 30px 100px;
  }

  .main-section > header {
      font-size: 25px;
      font-weight: 400;
      margin: 10px 0;
  }

  article {
    margin: 20px;
  }

  .main-section > p {
      margin: 10px;
      line-height: 5px;
  }

  .main-section > ol {
      text-indent: 5px;
  }

  #container > footer {
    grid-area: foot;
    background-color: var(--color-blue);
    height: 50px;
    text-align: center;
    padding-top: 10px;
    font-weight: 100; 
  }

  code {
      display: block;
      padding: 10px;
      margin: 10px;
      background: var(--color-lightergrey);
      border-radius: 2px;
      border-left: 3px solid #4682b4;
  }

@media (max-width: 600px) {
    #container {
        grid-template-areas: "head"
                             "nav"
                             "main"
                             "foot";
        grid-template-columns: 1fr;
        grid-template-rows: 100px 1fr 1fr 30px;
        align-items: center;
    }


    #container > nav {
        height: 60vh;
        width: 100%;
        grid-area: nav;
        background-color: var(--color-lightgrey);
        border: none;
        position:sticky;
    }

    nav > ul {
        padding: 10px 10px;
        list-style: none;
    }

    .nav-link {
        cursor: pointer;
        line-height: 10px;
        color: var(--color-blue);
        padding: 10px;
        display: block;
    }
  

}